.container {
  max-width: 750px;
  margin: auto;
  margin-top: 5rem;
  background-color: #776f6faf;
  padding: 2rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 1rem;
  }
}
